<h2>My anime List</h2>
<ul class="animes">
  <li *ngFor="let anime of animes">
    <a routerLink="/detail/{{ anime.id }}">
      <span class="badge">{{ anime.id }}</span> {{ anime.name }}
    </a>
    <button class="delete" title="delete" (click)="delete(anime)">X</button>
  </li>
</ul>

<div>
  <label>
    Anime name:
    <input #animeName />
  </label>
  <!-- click passe the input value t0 add and then clears the input  -->
  <button (click)="add(animeName.value); animeName.value = ''">Add</button>
</div>
