<h2>My watched List</h2>
<ul class="series">
  <li *ngFor="let serie of series">
    <a routerLink="/detail/{{ serie.id }}">
      <span class="badge">{{ serie.id }}</span> {{ serie.name }}
    </a>
    <button class="delete" title="delete" (click)="delete(serie)">X</button>
  </li>
</ul>

<div>
  <label>
    Serie name:
    <input #serieName />
  </label>
  <!-- click passe the input value t0 add and then clears the input  -->
  <button (click)="add(serieName.value); serieName.value = ''">Add</button>
</div>
